@font-face {
    font-family: NeueHassDisplayMediu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(./Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: neuehassFont;
    font-weight: 300;
    src: url(./NeueHaasDisplayBold.ttf);
}

@font-face {
    font-family: neueHassDisplayThin;
    font-weight: 240;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    z-index: 15;
    position: relative;
    /* background-color: #EFEAE3; */
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    /* background-color: aquamarine; */
    z-index: 20;
    padding: 0 2rem;
    overflow-x: hidden;
    position: relative;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-right: 0.5vw;
}

.nav-part2 h4 {
   letter-spacing: -0.01vw;
    padding: 0.7vw 1.3vw;
    border: 1px solid rgba(103, 103, 103, 0.334);
    border-radius: 3vw;
    font-size: 1vw;
    position: relative;
    overflow: hidden;
}

.nav-part2 h4::after {
    content: "";
    position: absolute;
    transition: all ease 0.3s;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: black;
    left: 0;
    bottom: -100%;
}

.nav-part2 h4 span {
    color: rgb(9, 9, 9);
    position: relative;
    font-family: montserrat;
    font-weight: 450;
    z-index: 30;
}

.nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h4:hover span {
    color: white;
}

/* center */
.center {
    height: 81vh;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* padding-bottom: 4rem; */
    padding-bottom: 3.833vw;
    border-bottom: 0.2px solid rgb(189, 188, 188);
}

.left h3 {
    width: 25vw;
    /* font-size: 1.8rem; */
    font-size: 1.9vw;
    font-family: NeueHassDisplayMediu;
    line-height: 1.8rem;
    line-height: 1.9vw;
    letter-spacing: -1px;
}

.right h1 {
    /* font-size: 10.3rem; */
    font-size: 10.9vw;
    font-family: NeueHassDisplayMediu;
    text-align: right;
    line-height: 8.7vw;
    /* letter-spacing: -5px; */
    letter-spacing: -0.357vw;
    /* padding-right: 2.4rem; */
    padding-right: 2vw;

}

.page1 video {
    position: relative;
    border-radius: 3vh;
    margin-top: 4rem;
    margin-top: 3.933vw;
    width: 100%;
    z-index: 50;
    /* display: none; */
}


/* animation- part  */

.hero1 {
    height: 21%;
    width: 27%;
    background: linear-gradient(orangered, rgb(241, 84, 31), rgb(255, 153, 0));
    /* background-color: #fe0c8d; */
    filter: blur(17px);
    /* border-radius: 50% ; */

    border-top-left-radius: 50%;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    position: absolute;
    right: 0%;
    top: 82vh;
    z-index: 48;
    animation: animate 4s linear 0s infinite alternate;
}

@keyframes animate {
    from {
        transform: translate(0%, 1%)rotate(0deg);
    }

    to {
        transform: translate(0%, -1%)rotate(-30deg);
    }
}

.hero2 {
    height: 24%;
    width: 21%;
    background-color: #FE330A;
    /* background-color: #34fe0c; */
    border-radius: 45%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 30%;
    position: absolute;
    right: 18vw;
    top: 83vh;
    filter: blur(20px);
    animation: animate2 3s linear 0s infinite alternate;
}

@keyframes animate2 {
    from {
        transform: translate(-10%, -10%);
    }

    to {
        transform: translate(10px, 10px)rotate(35deg);
    }
}

.hero3 {
    height: 23%;
    width: 22%;
    border-radius: 30%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    right: 10vw;
    top: 94vh;
    filter: blur(20px);
    /* background-color: #bdfe0c; */
    background-color: #FE330A;
    animation: animate3 2s linear 0s infinite alternate;
}

@keyframes animate3 {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(-10%, 15%)rotate(5deg);
    }
}

.hero4 {
    width: 16%;
    height: 28%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 45%;
    position: absolute;
    right: 0vw;
    top: 91vh;
    filter: blur(20px);
    /* background-color: rgb(26, 144, 255); */
    background-color: #FE330A;
    animation: animate4 2s linear 0s infinite alternate;
}

@keyframes animate4 {
    from {
        transform: translate(0%, -15%);
    }

    to {
        transform: translate(0%, 15%);
    }
}

/* page2  */
.page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 20;
    /* background-color: rgb(205, 210, 211); */
    background-color: #EFEAE3;
    position: relative;
}

.movingText {
    white-space: nowrap;
    display: inline-block;
    animation: move 40s linear 0s infinite;
    margin: 18vh;
}

.movingText h1 {
    /* font-size: 9rem; */
    font-size: 9.5vw;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: NeueHassDisplayMediu;
    display: inline-block;
    font-weight: 350;
    /* letter-spacing: -5px; */
    letter-spacing: -0.2133vw;
}

.gola {
    /* height: 60px; */
    height: 3.925vw;
    /* width: 60px; */
    width: 3.925vw;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 12px 14px;
    margin: 0.625vw 0.729vw;
}

.con {
    white-space: nowrap;
    display: inline-block;
}

@keyframes move {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

.page2-bottom {
    width: 100%;
    height: 100vh;
    /* background-color: burlywood; */
    padding: 2vh 4vw;
    display: flex;
    justify-content: space-between;
}

.page2-bottom h1 {
    width: 56vw;
    height: 53vh;
    /* font-size: 4rem; */
    font-size: 4.1vw;
    /* font-weight: 100; */
    z-index: 45;
    /* line-height: 4.4rem; */
    line-height: 4.6vw;
    font-family: neuehassFont;
    margin-left: 4vh;
    /* background-color: aquamarine; */
}

.box1 {
    width: 19.3vw;
    height: 58vh;
    /* background-color: chartreuse; */
    /* margin-top: 9rem; */
    margin-top: 8.5vw;
    /* margin-right: 3rem; */
    margin-right: 3.5vw;
}

.box1 img {
    width: 100%;
    /* border-radius: 10px; */
    border-radius: 0.521vw;
}

.box1 p {
    /* padding-top: 2.8rem; */
    padding-top: 2.333vw;
    /* font-size: 1.2rem; */
    font-size: 1.13vw;
    /* line-height: 1.4rem; */
    line-height: 1.567vw;
    letter-spacing: -0.01vw;
    font-family: neueHassDisplayThin;
}


.gooly {
    height: 33vw;
    width: 33vw;
    border-radius: 50%;
    background: linear-gradient(to right top, #ff0000, #FE7E27);
    /* background: linear-gradient(to left bottom, red, blue); */
    /* background-color: red; */
    z-index: 44;
    position: absolute;
    top: 56%;
    left: 25%;
    animation: goolyAnimate 5s ease-in-out 0s infinite alternate;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.gooly2 {
    height: 33vw;
    width: 33vw;
    /* background :linear-gradient(blue,pink); */
    background: linear-gradient(to right top, #ff1e00, #feac27);
    z-index: 43;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    top: 55%;
    left: 25%;
    animation: goolyAnimate2 5s ease-in-out 0s infinite alternate;

}

@keyframes goolyAnimate {
    from {
        transform: translate(10%, -10%) skew(7deg);
        filter: blur(15px);
    }

    to {
        transform: translate(-9%, 7%) skew(-12deg);
        filter: blur(30px);
    }

}

@keyframes goolyAnimate2 {
    from {
        transform: translate(10%, -10%) skew(4deg)scale(1, 1);
        filter: blur(15px);
    }

    to {
        transform: translate(-9%, 7%) skew(-12deg)scale(1, 0.7);
        filter: blur(30px);
    }

}

/*  page 3 CSS part */
.page3 {
    min-height: 100vh;
    /* height: auto; */
    /* height: 144vh; */
    z-index: 20;
    width: 100%;
    background-color: #EFEAE3;
   
}
/* 
.page3 .element-container {
    height: 100%;
    width: 100%;

} */

.div-box {
    height: 18vh;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */
    padding: 0 1.767vw;
    position: relative;
    overflow: hidden;
}

.div-box h1 {
    /* font-size: 54px; */
    font-size: 3.513vw;
    letter-spacing: -2px;
    letter-spacing: -0.104vw;
    font-family: NeueHassDisplayMediu, sans-serif;
    font-weight: 700;
    z-index: 45;
}

.div-box #spn {
    /* margin-right: 9px; */
    margin-right: 0.469vw;
    z-index: 45;
}

.div-box #spn #span1,
#span2 {
    /* font-size: 15px; */
    font-size: 0.991vw;
    font-family: neueHassDisplayThin;
    opacity: 0.9;

}

.div-box #spn #span2 {
    opacity: 0.5;
}

.elem-style {
    width: 100%;
    height: 100%;
    background-color: #FF9831;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 44;
    transition: ease-in-out;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.div-box:hover {
    .elem-style {
        top: 0%;
    }
}

/* fixed image style */

.fixed-image {
    width: 26vw;
    height: 31vw;
    border-radius: 12px;
    border-radius: 0.625vw;
    position: fixed;
    top: 17.8%;
    left: 49%;
    z-index: 51;
    display: none;
    pointer-events: none;

}

/* Footer section */
.page4 {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    /* background-color: #080da7; */
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.slide-container{
    height: 40vh;
    width: 100%;
    /* background-color: darkgoldenrod; */
    padding: 1vw 3vh;
    box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  font-size: 0.988vw;
  line-height: 1.3vw;
  background: #EFEAE3;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-slide {
  width: 30%;
  border-left: 1px solid rgba(40, 40, 40, 0.288);
  /* border-right: 1px solid rgba(40, 40, 40, 0.288); */
  display: flex;
  align-items: flex-end;
  padding: 1vh;
}

#slider-content{
    font-family: neueHassDisplayThin;
    width: 65%;
    text-align: left;
}


.page5{
    height: 120vh;
    /* height: 100vh; */
    width: 100%;
    /* background-color: limegreen; */
    margin-bottom: 1rem;
    margin-bottom:0.833vw;
}

.footer {
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: linear-gradient(to right top, rgb(17, 17, 17) ,#FE330A);
    /* z-index:16; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1vw 2vw 2vh 2vw;
}

#footer-content {
    color: #e1d0d0;
    font-size: 23vw;
    font-family: NeueHassDisplayMediu;
    line-height: 18vw;
    margin-bottom: 1.6vw;
    margin-right: 1vw;


}

.footer-div1 {
    height: 22vh;
    width: 100%;
    margin-bottom: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}

.footer-div2 {
    height: 8vh;
    width: 100%;
    font-size: 0.5rem;
    font-size: 0.467vw;
    font-family: NeueHassDisplayMediu;
    color: rgb(197, 182, 182);
    border-top: 1px solid rgb(112, 108, 108);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content2 {
    width: 24vw;
    height: 17vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content1 {
    height: 9vw;
    width: 7.5vw;
    line-height: 2.6vw;
    color: rgb(215, 203, 203);
    margin-left: 2vw;
    font-family: NeueHassDisplayMediu;
}

.content2 p {
    /* font-size: 1.3rem; */
    font-size: 1.483vw;
    font-weight: 500;
    color: rgb(228, 213, 213);
    font-family: neueHassDisplayThin;

}

.content2 .inp {
    height: 7vh;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 1.1vw;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(208, 195, 195, 0.675);
    outline: none;

}
.content2 .inp::placeholder {
    color: rgba(174, 179, 168, 0.715); /* Change this to the color you want */
    opacity: 1;  /* This is optional. It controls the opacity of the placeholder text */
}

/* .footer:hover{
    
h1{
    color: yellow;
}
    
} */